.italic {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase;
}

.no-underline {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}
