$clr-white: #fff;
$clr-black: #212121;
$clr-grey: #5c5c5c;
$clr-cultured: #f8f8f8;
$clr-pumpkin: #ff6635;
$clr-flame: #dd4e11;

$colors: (
  "white": $clr-white,
  "black": $clr-black,
  "grey": $clr-grey,
  "cultured": $clr-cultured,
  "pumpkin": $clr-pumpkin,
  "flame": $clr-flame,
);
