$ff-base: sans-serif;
$ff-accent: serif;

$fs-16: clamp(0.938rem, -0.563rem + 2.08vw, 1rem);
$fs-18: clamp(1rem, -2rem + 4.17vw, 1.125rem);
$fs-21: clamp(1.188rem, -1.813rem + 4.17vw, 1.313rem);
$fs-27: clamp(1.5rem, -3rem + 6.25vw, 1.688rem);
$fs-60: clamp(2.5rem, -27.5rem + 41.67vw, 3.75rem);
$fs-80: clamp(2.5rem, -57.5rem + 83.33vw, 5rem);

$font-sizes: (
  16: $fs-16,
  18: $fs-18,
  21: $fs-21,
  27: $fs-27,
  60: $fs-60,
  80: $fs-80,
);

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$font-weights: (
  "thin": $fw-thin,
  "light": $fw-light,
  "regular": $fw-regular,
  "medium": $fw-medium,
  "semi-bold": $fw-semi-bold,
  "bold": $fw-bold,
  "extra-bold": $fw-extra-bold,
  "black": $fw-black,
);
